{% extends "EasyCookingSalesFloorBundle:Layout:base.html.twig" %}
  
{% block title %}
  Willkommen
{% endblock %}

{% block body %}
  <div class="row">
    <div class="small-12 columns">
      <h1><i class="icon-chef"></i> Willkommen bei Easy Cooking!</h1>
    </div>
  </div>
  
  <div class="row">
    {% for meal in meals %}
      <div class="small-6 columns">
        <figure>
          <img src="{{ meal.imagePath|imagine_filter('thumbnail_square') }}">
        </figure>
        
        <h4>{{ meal.name }}</h4>
      </div>
    {% else %}
      <div class="small-12 columns">
        <p>Keine Gerichte gefunden.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}