{% extends "EasyCookingSalesFloorBundle:Layout:base.html.twig" %}

{% block title %}Impressum{% endblock %}

{% block body %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Impressum</h1>
      
      <p>
        Max Mustermann<br>
        Musterstraße 1<br>
        Musterstadt
      </p>
      
      <h2>Icons</h2>
      
      <p>
        {% for icon, copyright in iconCopyrights %}
          <i class="icon-{{ icon }}"></i> Icon made by <a href="{{ copyright.author_website }}" target="_blank">{{ copyright.author }}</a> from <a href="{{ copyright.library_website }}" target="_blank">{{ copyright.library }}</a>.<br> 
        {% endfor %}
      </p>
    </div>
  </div>
{% endblock %}