@font-face {
  font-family: "easycooking-icons";
  src: url('../fonts/easycooking-icons.eot');
  src: url('../fonts/easycooking-icons.eot?#iefix') format('eot'),
  url('../fonts/easycooking-icons.woff') format('woff'),
  url('../fonts/easycooking-icons.ttf') format('truetype'),
  url('../fonts/easycooking-icons.svg#easycooking-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    font-family: "easycooking-icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-cart:before {
  content: "\EA01";
}

.icon-chef:before {
  content: "\EA02";
}

.icon-clock:before {
  content: "\EA03";
}

.icon-cook:before {
  content: "\EA04";
}

.icon-level:before {
  content: "\EA05";
}

.icon-logout:before {
  content: "\EA06";
}

.icon-purchase:before {
  content: "\EA07";
}


// Icon list (corresponds to icon font characters)
$icons: (
        'cart' '\EA01',
        'chef' '\EA02',
        'clock' '\EA03',
        'cook' '\EA04',
        'level' '\EA05',
        'logout' '\EA06',
        'purchase' '\EA07',
) !default;

// To simulate associative arrays
// Source: http://hugogiraudel.com/2013/08/12/sass-functions/#mapping
@function match($haystack, $needle) {
  @each $item in $haystack {
    $index: index($item, $needle);
    @if $index {
      $return: if($index == 1, 2, $index);
      @return nth($item, $return);
    }
  }
  @return false;
}

// For adding icons to elements using CSS pseudo-elements
// Source: http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($icon: false, $position: 'before', $styles: true) {
  // Either a :before or :after pseudo-element, defaulting to :before
  &:#{$position} {
    @if $icon {
      // Icon has been specified
      content: match($icons, $icon);
    }
    @if $styles {
      // Supportive icon styles have been specified
      font-family: "easycooking-icons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}

%icon {
  @include icon;
  @include icon(after);
}
