@import "settings";
@import "foundation-sites/scss/foundation";
@import "icons";

@include foundation-everything;

table.full {
  width: 100%;
}

.wrapper {
  @include clearfix;
  max-width: 1000px;
  margin: 0 auto;
  
  &.wrapper--main {
    padding: 2rem 0;
  }
}

.header {
  .logo-wrapper,
  .menu {
    float: left;
  }

  .wrapper {
    padding: 0 1rem;
  }
}

.logo {
  width: 100px;
}

body {
  background: lighten($light-gray, 5%);
}

.main-content {
  background: #ffffff;
}

.footer {
  .wrapper {
    padding: 1rem;
  }
}

.meal-highlight {
  color: $primary-color;
  font-size: 1.5rem;
  text-align: center;
}

.price-container {
  @include clearfix;
}

.price {
  font-size: 2rem;
  color: $primary-color;
  float: left;
  margin-right: 1rem;
}

.meal-separator {
  margin: 1rem 0;
}

button.add-to-basket {
  float: left;
  min-height: 57px;
  min-width: 170px;
  text-align: center;
}

button.quantity {
  margin: 0 0 0 .2rem;
}

button .loader {
  display: inline-block;
}

/**
 * condiment-list
 */
.condiment-list {
  @include clearfix;
  
  dt {
    float: left;
    width: 40px;
    clear: left;
    text-align: right;
    margin: 0;
  }
  
  dd {
    margin-left: 50px;
    padding-bottom: .5rem;
  }
}

/**
 * User Menu
 */
.user-menu {
  i {
    font-size: 1.3rem;
  }
  
  a {
    color: black;
  }
}

/**
 * Minibasket
 */
.mini-basket {
  padding: 0.4rem 0.5rem;
  
  .basket-icon {
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
    cursor: pointer;
  }
  
  .counter {
    display: block;
    background: $primary-color;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 0.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    border-radius: 4px;
    line-height: 1;
  }
}