<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <title>{% block title %}{% endblock %} | Easy Cooking</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
    {% if app.environment == 'dev' %}
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.min.css') }}">
    {% endif %}
    {% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="top-bar">
        <div class="wrapper">
          <div class="top-bar-left">
            <a href="{{ url('frontpage') }}" class="logo-wrapper"><img src="{{ asset('assets/images/logo.svg') }}" class="logo"></a>
            {{ knp_menu_render('EasyCookingSalesFloorBundle:MainMenuBuilder:mainMenu') }}
          </div>
          <div class="top-bar-right">
            {{ knp_menu_render('EasyCookingSalesFloorBundle:UserMenuBuilder:userMenu') }}
          </div>
        </div>
      </div>
    </header>
  
    <div class="main-content">
      <div class="wrapper wrapper--main">
        {% block messages %}
          {% if app.session.flashbag.keys is not empty %}
            <div class="row">
              <div class="small-12 columns">
                <div class="messages">
                  {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                      <div class="callout {{ type }}">
                        {{ message|raw }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endblock %}
        
        {% block body %}{% endblock %}
      </div>
    </div>
    
    <footer class="footer">
      <div class="wrapper">
        <a href="{{ url('imprint') }}">Impressum</a>
      </div>
    </footer>
    
    {% block javascripts %}
      {% if app.environment == 'dev' %}
        <script type="text/javascript" src="{{ asset('assets/js/easycooking.js') }}"></script>
      {% else %}
        <script type="text/javascript" src="{{ asset('assets/js/easycooking.min.js') }}"></script>
      {% endif %}
    {% endblock %}
  </body>
</html>
